<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Github</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://images.velog.io/images/jaeeunxo1/post/c6d078eb-10c6-4c60-9a0e-e3ea823a278f/768px-Ei-sc-github.svg.png"
                                 alt="My Image" style="width:60px; height:60px;">
                            <a href="https://github.com/taeillee1" class="text-red">Go Github</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Instagram</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzAzMTlfMjAx/MDAxNDg5ODY2OTMyNjc5.zJ3xk8TJipUMzwh0fTnwOFrdB73Rd3oPR096eZ_6BmMg.qXsZfm4two22b_t5MbCq9Dv5s_6Yhl9NQUROBkFIYIEg.PNG.sungsut/IG_Glyph_Fill-1.png?type=w2"
                                 alt="My Image" style="width:60px; height:60px;">
                            <a href="https://www.instagram.com/loo_x.ti/?hl=ko" class="text-red">Go Instagram</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">facebook</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://i.pinimg.com/originals/ad/e1/bd/ade1bde5b7d2f6cb1fb0443327a173ac.png"
                                 alt="My Image" style="width:60px; height:60px;">
                            <a href="https://www.facebook.com/people/%EC%9D%B4%ED%83%9C%EC%9D%BC/100004848072894/" class="text-red">Go facebook</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">twitter</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://cdn-icons-png.flaticon.com/512/49/49351.png"
                                 alt="My Image" style="width:60px; height:60px;">
                            <a href="https://twitter.com/itaeil6" class="text-red">Go Twitter</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color :rgb(73,73,73); color:white;">
            <p>👏Create by taeil-lee</p>
            <p>📞전화번호 : 010-1234-5678</p>
            <p>🏘주소 : 대한민국 경기도 xx시 xx동</p>
            <p>🏴법인명 : Boot T</p>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</html>