<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Github</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://images.velog.io/images/jaeeunxo1/post/c6d078eb-10c6-4c60-9a0e-e3ea823a278f/768px-Ei-sc-github.svg.png"
                                 alt="My Image" style="width:60px; height:60px;">
                            <a href="#!" class="text-red">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Github</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://mblogthumb-phinf.pstatic.net/MjAxNzAzMTlfMjAx/MDAxNDg5ODY2OTMyNjc5.zJ3xk8TJipUMzwh0fTnwOFrdB73Rd3oPR096eZ_6BmMg.qXsZfm4two22b_t5MbCq9Dv5s_6Yhl9NQUROBkFIYIEg.PNG.sungsut/IG_Glyph_Fill-1.png?type=w2"
                                 alt="My Image" style="width:50px; height:50px; margin-top:5px;">
                            <a href="#!" class="text-red">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Github</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc53t9x%2FbtrhLRG5ngQ%2FnctLLX4fBSNixVwMj9nF4K%2Fimg.png"
                                 alt="My Image" style="width:80px; height:80px;">
                            <a href="#!" class="text-red">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Github</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <img src="https://images.velog.io/images/jaeeunxo1/post/c6d078eb-10c6-4c60-9a0e-e3ea823a278f/768px-Ei-sc-github.svg.png"
                                 alt="My Image" style="width:80px; height:80px;">
                            <a href="#!" class="text-red">Link 1</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color :rgb(73,73,73); color:white;">
            <p>👏Create by taeil-lee</p>
            <p>📞전화번호 : 010-1234-5678</p>
            <p>🏘주소 : 대한민국 경기도 xx시 xx동</p>
            <p>🏴법인명 : Boot T</p>
        </div>
        <!-- Copyright -->
    </footer>
</div>
</html>