<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<div class="footer" th:fragment="footer">-->
<!--    <footer class="page-footer font-small cyan darken-3">-->
<!--        <div class="jumbotron text-center" style="margin-bottom:0">-->
<!--            <p>👏Create by taeil-lee</p>-->
<!--            <p>📞전화번호 : 010-1234-5678</p>-->
<!--            <p>🏘주소 : 대한민국 경기도 xx시 xx동</p>-->
<!--            <p>🏴법인명 : Boot T</p>-->
<!--        </div>-->

<!--    </footer>-->
<!--</div>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer class="page-footer font-small cyan darken-3">
        <div class="footer-copyright text-center py-3">
            👏Create by taeil-lee
        </div>
    </footer>
</div>
</html>